// change the theme
$theme-colors: (
  "primary": #530c61,
  "primary-dark": #bb7fc7,
  "primary-light": #530c61,
  "secondary": #59585a,
  "secondary-dark": #b0acb4,
  "secondary-light": #414042,
  "success": #000000,  
  "danger": #ff4136,
  "warning": #000000,
  "info": #000000,
  "light": #eeeeee,
  "dark": #2d0635,
  "muted": #000000,
  "text-light": #000000,
  "text-dark": #FFFFFF
);

$link-color:                 rgb(0, 26, 255); //red
$link-hover-color:           rgb(103, 219, 235); //green

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Core variables and mixins
// @import "variables";
// @import "mixins";
