// change the theme
$theme-colors: (
  "dark": #2d0635,
  "light": #eeeeee,
  "primary-dark": #d60cff,
  "primary-light": #220027,
  "secondary-dark": #00ff4c,
  "secondary-light": #002500,
  "text-dark": #eeeeee,
  "text-light": #2d0635,
  "link-dark": #5900ff,
  "link-light": #0400ff,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body.dark {
  background-color: map-get($theme-colors, "dark") !important;
}
body.light {
  background-color: map-get($theme-colors, "light") !important;
}

.text-dark {
  color: map-get($theme-colors, "text-dark") !important;
}
.text-light {
  color: map-get($theme-colors, "text-light") !important;
}
.link-dark {
  color: map-get($theme-colors, "link-dark") !important;
  &:hover {
    color: map-get($theme-colors, "link-dark") !important;
    opacity: 0.5;
  }
}
.link-light {
  color: map-get($theme-colors, "link-light") !important;
  &:hover {
    color: map-get($theme-colors, "link-light") !important;
    opacity: 0.5;
  }
}

// Core variables and mixins
// @import "variables";
// @import "mixins";
